<section class="products-section">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-lg-8">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div style="background-color:#7D8286"></div>
          </div>
          <div class="col-md-12" >
            <div class="row no-gutters">
              <div class="col-md-6" >
                <div style="background-color: #2E161A"></div>
              </div>
              <div class="col-md-6">
                <div style="background-color:#FAB651 "></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div style="background-color: #343746"></div>
      </div>
    </div>
  </div>
</section>
