<section class="products-section">
  <div class="container-fluid" *ngFor="let product of featuredProduct; let i = index">
    <div class="row no-gutters"  *ngIf="i % 4 === 0">
      <div class="col-lg-8" >
        <div class="row no-gutters">
          <div class="col-md-12">
            <!-- <div style="background-color:#7D8286"></div> -->
            <app-horizontal-product [product]="product" [backgroundColor]="'#7D8286'"></app-horizontal-product>
          </div>
          <div class="col-md-12" >
            <div class="row no-gutters">
              <div class="col-md-6" *ngIf="i + 1 < featuredProduct.length">
                <!-- <div style="background-color: #2E161A"></div> -->
                <app-horizontal-product [product]="featuredProduct[i+1]" [backgroundColor]="'#2E161A'"></app-horizontal-product>
              </div>
              <div class="col-md-6" *ngIf="i + 2 < featuredProduct.length">
                <!-- <div style="background-color:#FAB651 "></div> -->
                <app-horizontal-product [product]="featuredProduct[i+2]" [backgroundColor]="'#FAB651'"></app-horizontal-product>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4" *ngIf="i + 3 < featuredProduct.length">
        <!-- <div style="background-color: #343746"></div> -->
        <app-vertical-product [product]="featuredProduct[i+3]" [backgroundColor]="'#343746'"></app-vertical-product>
      </div>
    </div>
  </div>
</section>
