<section class="slider-section">
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/imgs/covers/cover-1.jpg" class="d-block w-100">
          <div class="carousel-caption">
            <div></div>
            <div>
              <h2>Awesome bicycle products</h2>
              <p><a href="#">More info</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/imgs/covers/cover-2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <div></div>
            <div>
              <h2>Awesome bicycle products</h2>
              <a href="#">Moref info</a>
            </div>

          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
          xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129" width="70px" height="70px"
          class="left-arrow">
          <path
            d="m64.5,122.6c32,0 58.1-26 58.1-58.1s-26-58-58.1-58-58,26-58,58 26,58.1 58,58.1zm0-108c27.5,5.32907e-15 49.9,22.4 49.9,49.9s-22.4,49.9-49.9,49.9-49.9-22.4-49.9-49.9 22.4-49.9 49.9-49.9z"
            fill="#fff" />
          <path
            d="m70,93.5c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2 1.6-1.6 1.6-4.2 0-5.8l-23.5-23.5 23.5-23.5c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-26.4,26.4c-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9l26.4,26.4z"
            fill="#fff" />
        </svg>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
          xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129" width="70px" height="70px"
          class="right-arrow">
          <g>
            <g>
              <path
                d="M64.5,122.6c32,0,58.1-26,58.1-58.1S96.5,6.4,64.5,6.4S6.4,32.5,6.4,64.5S32.5,122.6,64.5,122.6z M64.5,14.6    c27.5,0,49.9,22.4,49.9,49.9S92,114.4,64.5,114.4S14.6,92,14.6,64.5S37,14.6,64.5,14.6z"
                fill="#fff" />
              <path
                d="m51.1,93.5c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l26.4-26.4c0.8-0.8 1.2-1.8 1.2-2.9 0-1.1-0.4-2.1-1.2-2.9l-26.4-26.4c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l23.5,23.5-23.5,23.5c-1.6,1.6-1.6,4.2 0,5.8z"
                fill="#fff" />
            </g>
          </g>
        </svg>
      </a>
    </div>
  </div>
</section>