.footer{
    min-height: 50vh;
    background-color: #222222;
    color: #fff;

    .logo{
        font-family: 'Rye', cursive !important;
        text-transform: uppercase;
    }

    .text-secondary{
        color:rgb(185, 185, 177)
    }
}


