<section #section2 class="presentation-section">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-5 col-md-4 col-sm-12 offset-md-1 my-auto">
                  <h1 class="card-title" animateOnScroll animationName="title-animation" >Who we are</h1>
                  <p class="card-text" animateOnScroll animationName="text-animation" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam nunc mauris, a fringilla nibh pulvinar non. Integer ultricies est at dui consequat tristique. Quisque vestibulum ipsum tellus, eu scelerisque leo porttitor et. Fusce vel dui convallis, vestibulum sapien quis, suscipit lectus. Quisque tincidunt ligula enim, in ornare ex tincidunt vitae. Aenean dapibus fringilla felis, sit amet interdum urna suscipit et. Nunc non orci sollicitudin, iaculis mi nec, lobortis dolor.</p>
                  <a href="#" animateOnScroll animationName="button-animation" >Moref info</a>
                </div>
              <div class="col-lg-5 col-md-6 col-sm-12 my-auto image-container" >
                <img src="assets/imgs/presentation-1.jpg" class="card-img img-1"  animateOnScroll animationName="slide-in-left">
                <img src="assets/imgs/presentation-2.jpg" class="card-img img-2"  animateOnScroll animationName="slide-in-right">
              </div>
            </div>
          </div>
        </div>
</section>
